.contianer {
    width: 1200px;
    margin: 0 auto 100px;
    position: relative;
}

.head {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #5E6282;
}

.title {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #14183E;
    margin-bottom: 66px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.contentItemWrapper {
    position: relative;
}

.contentItem {
    width: 267px;
    height: 314px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 45px 40px;
    position: relative;
    z-index: 2;
}

.contentItem {
    z-index: 2;
}


.contentItemWrapper:hover {
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 36px;
}


.contentItemWrapper>.hoverImg {
    display: none;
}

.contentItemWrapper:hover>.hoverImg {
    display: inline-block;
    position: absolute;
    left: -50px;
    bottom: -50px;
    z-index: -1;
    overflow: hidden;

}

.itemTitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #1E1D4C;
}

.itemDescription {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #5E6282;
}

.plusGroup {
    position: absolute;
    right: 0;
    top: 0;
}